* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.hero {
    background-size: cover;
    z-index: 10;
    hyphens: auto;
}

@media (min-width: 768px) {
    .hero {
        padding: 72px;
    }

    html[lang=de] .hero {
        position: relative;
    }
}

.animated {
    -webkit-animation: fadeIn 0.5s ease-out;
    -moz-animation: fadeIn 0.5s ease-out;
    -o-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/*################################################### EXTRA ##########################################################*/

.wui.outer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 530px;
    justify-content: center;
    position: relative;
    align-items: center;
}

.wui.container {
    box-shadow: 0 4px 15px rgba(0, 0, 0, .14);
    background-color: #fafafa;
    width: 770px;
    margin: auto;
    text-align: center;
    padding: 2rem 0 0 0;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

.wui.carousel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.wui.carousel-slide {
    flex: 1 0 100%;
}

.wui.back-btn {
    position: absolute;
    height: 32px;
    width: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url("/libs/wizard/svg/back-button.svg") center center / contain no-repeat;
}

.wui.header {
    padding: 40px 40px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .wui.header {
        flex-direction: column-reverse;
    }
}

.wui.header-title {
    font-family: "Noto Serif", sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 0 38px 0;
    white-space: pre-line;
}

.wui.content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0 38px;
    flex-wrap: wrap;
    min-width: 100%;
}

@media (max-width: 767px) {
    .wui.content-container {
        flex-direction: column;
        min-height: 290px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .wui.header-title {
        margin: 0;
        font-size: 20px;
        hyphens: manual;
    }
}

.wui.content {
    min-height: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.wui.action-button {
    box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    position: relative;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 8px;
}

.wui.action-button:hover, .wui.action-button:active {
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 20px;
}

.wui.action-button-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    bottom: 0;
    position: absolute;
    right: 20px;
    top: 0;
    border-top: white solid 2px;
    border-right: white solid 2px;
    margin: auto;
}

button {
    align-items: flex-start;
    text-align: center;
    display: inline-block;
}

button:disabled, button[disabled] {
    background-color: rgb(207, 207, 205) !important;
    cursor: default !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*################################################### EXTRA ##########################################################*/
