.wui.outer {
    display: flex;
    min-height: 530px;
    justify-content: center;
    position: relative;
    align-items: center;
}

.wui.container {
    box-shadow: 0 4px 15px rgba(0, 0, 0, .14);
    background-color: #fafafa;
    width: 770px;
    margin: auto;
    text-align: center;
    padding: 2rem 0 0 0;
    border-radius: 4px;
    z-index: 10;
    position: relative;
    overflow: hidden;
}

.wui.fullscreen {
    display: block;
}

.wui.widget.fullscreen {
}

.wui.carousel {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}

.wui.carousel-slide {
    flex: 1 0 100%;
}

.wui.back-btn {
    position: absolute;
    height: 32px;
    width: 32px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: url("https://images.ctfassets.net/64q0dihi81ut/3tHFB2sBxfpZNcUxQp9LGj/40fddd7d006b2e7a422baac1a9772375/back-button.svg") center center / contain no-repeat;
}

.wui.header {
    padding: 40px 40px 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .wui.header {
        flex-direction: column-reverse;
    }
}

.wui.header-title {
    font-family: "Noto Serif", sans-serif;
    font-size: 24px;
    line-height: 32px;
    margin: 0 38px 0;
    white-space: pre-line;
}

.wui.content-container {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    padding: 0 38px;
    flex-wrap: wrap;
    min-width: 100%;
}

@media (max-width: 767px) {
    .wui.content-container {
        flex-direction: column;
        min-height: 290px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .wui.header-title {
        margin: 0;
        font-size: 20px;
        hyphens: manual;
    }
}

.wui.content {
    min-height: 355px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.wui.card {
    display: flex;
    flex: 1 1 0;
    padding: 6px;
}

.wui.card.small {
    height: 184px;
}

@media (max-width: 767px) {
    .wui.card {
        display: flex;
        flex: 1 1 0;
        padding: 5px;
        width: 100%;
    }

    .wui.content-container {
        width: 100%;
        padding: 0;
    }

    .wui.card-icon-container {
        visibility: hidden;
        display: none !important;
    }

    .wui.card-title {
        margin-top: 0 !important;
    }
}

@media (min-width: 768px) {
    .wui.card.container {
        flex-direction: column;
    }
}

.wui.card-container {
    border-radius: 4px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.16) 4px 4px 18px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    hyphens: manual;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff;
    outline: none;
    padding: 4px;
}

.wui.content-container.medium {
    min-height: 320px;
}

.wui.card-icon-container {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding: 4px;
    -webkit-box-pack: center;
    justify-content: center;
}

.wui.card-icon-img {
    display: block;
    height: 64px;
    width: 100%;
    max-width: 100px;
}

.wui.card-title {
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    word-break: break-word;
    hyphens: auto;
    line-height: normal;
    width: 100%;
}

.card-container:hover {
    border-color: var(--primary-color);
}

.wui.footer {
    padding: 0 38px 38px;
    position: relative;
    margin-top: 8px;
}

.wui.footer-benefits {
    margin: 0 36px;
    display: flex;
}

.wui.benefits-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.wui.benefit {
    display: flex;
    color: #cfcfcd;
    align-items: center;
    text-align: left;
    margin-left: 8px;
    font-family: "Noto Serif", sans-serif;
    font-size: 13px;
    height: 44px;
    white-space: pre;
}

.wui.benefit-checkmark {
    margin-right: 4px;
    width: 10px;
}

.wui.benefit-title {
    word-wrap: break-spaces;
    margin: 0;
}

@media (min-width: 768px) {
    .wui.benefit-checkmark {
        margin-right: 10px;
    }
}

.wui.step-slider {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 40px;
}

.wui.step-slider.paper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    margin: auto 0;
    padding: 60px 40px;
}

.wui.paper {
    background-color: white;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 5px 20px;
    padding: 16px;
}

.wui.slider-measure {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 63%;
    margin-top: 16px;
}

.wui.slider-ctrl {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 34%;
}

.wui.slider-measure-input {
    text-align: left;
}

.wui.slider-measure-input-label {
    font-size: 15px;
}

.wui.slider-measure-input-styled {
    margin-top: 2px;
    height: 45px;
    position: relative;
}

.wui.slider-measure-input-styled-input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: rgb(188, 188, 188) solid 1px;
    padding: 12px 16px;
}

.wui.slider-measure-input-styled-unit {
    color: rgb(170, 170, 170);
    font-size: 14px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 767px) {
    .wui.step-slider {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: left;
    }

    .wui.step-slider.paper {
        flex-direction: column-reverse;
    }

    .wui.slider-measure {
        width: 100%;
        min-height: 140px;
        margin: 0;
    }

    .wui.slider-ctrl {
        width: 100%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.wui.slider-ctrl-img-container {
    height: 128px;
    position: relative;
    top: -32px;
    width: 100%;
}

.wui.slider-ctrl-img {
    height: 100%;
    width: 100%;
}

.wui.action-button {
    box-shadow: rgba(0, 0, 0, 0.16) 5px 5px 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
    position: relative;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 8px;
}

button:disabled, button[disabled] {
    background-color: rgb(207, 207, 205) !important;
    cursor: default !important;
}

.wui.action-button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 20px;
}

.wui.action-button-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    bottom: 0;
    position: absolute;
    right: 20px;
    top: 0;
    border-top: white solid 2px;
    border-right: white solid 2px;
    margin: auto;
}

.wui.step-input {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
}

.wui.step-input.paper {
    padding: 15px 45px 30px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 280px;
    margin: auto;
}

@media (min-width: 768px) {
    .wui.step-input.paper {
        padding: 40px 96px;
    }
}

.wui.step-input-btn-container {
    width: 50%;
    margin-left: 8px;
    margin-right: 8px;
}

.wui.step-input-img-container {
    -webkit-box-align: center;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 50%;
}

.wui.step-input-header {
    font-size: 15px;
    margin: 0 0 4px 0;
    text-align: left;
}

.wui.step-input-desc {
    font-size: 12px;
    margin: 6px 0 4px 0;
    color: grey;
    line-height: 13px;
    text-align: left;
}

.wui.step-input-image {
    display: block;
    max-height: 220px;
    max-width: 250px;
}

.wui.step-input-styled {
    margin-top: 8px;
    height: 45px;
    position: relative;
    margin-bottom: 45px;
}

.wui.step-input-styled-input {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: rgb(188, 188, 188) solid 1px;
    padding: 12px 16px;
}


/* map step */

.wui.step-map {
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: left;
}

.wui.step-map.paper {
    padding: 15px 45px 30px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 280px;
    margin: auto;
}

@media (min-width: 768px) {
    .wui.step-map.paper {
        padding: 40px 96px;
    }
}

@media (max-width: 767px) {
    .wui.step-map {
        margin: 0;
        flex-direction: column;
    }

    .wui.step-map.paper {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .wui.step-map-btn-container {
        margin-top: 20px;
        width: 100% !important;
    }
}

.wui.step-map-btn-container {
    width: 40%;
    margin-left: 8px;
    margin-right: 8px;
}

.wui.step-map-img-container {
    -webkit-box-align: center;
    margin-left: 8px;
    margin-right: 8px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
    width: 60%;
}

.wui.step-map-input-desc {
    font-size: 12px;
    margin: 6px 0 4px 0;
    color: grey;
    line-height: 13px;
    text-align: left;
}

.wui.step-map-input-header {
    font-size: 15px;
    margin: 0 0 4px 0;
    text-align: left;
}

.wui.step-map-image {
    display: block;
    max-height: 220px;
    max-width: 250px;
}

.wui.step-map-styled {
    margin-top: 8px;
    position: relative;
    margin-bottom: 18px;
}

.wui.step-map-styled-map {
    font-size: 16px;
    height: 100%;
    width: 100%;
    border: rgb(188, 188, 188) solid 1px;
    padding: 12px 16px;
}

/* random */
.widget.jsx-1910737295 {
    font-size: 15px;
    color: #222;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #fafafa;
    overflow: auto;
    position: relative;
    max-width: 768px;
    min-height: 530px;
    width: 100%;
}

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.fullscreen--enabled .widget.jsx-1910737295 {
    min-height: 100%;
}

div.fullscreen--enabled.widget {
    min-height: 100%;
}

.widget__carousel.jsx-1910737295 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.widget__carousel--forwards.jsx-1910737295 {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.carousel__slide.jsx-1910737295 {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
}

.carousel__slide--transition.jsx-1910737295 {
    -webkit-transition: -webkit-transform 0.4s;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
}

@media (max-width: 767px) {
    .widget.jsx-1910737295 {
        min-height: 455px;
    }
}

@media (min-width: 768px) {
    .widget.jsx-1910737295 {
        height: 0;
    }
}

.step-wrapper.jsx-1769602645 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
}

.step-wrapper--active.jsx-1769602645 {
    position: relative;
}

.step-wrapper__content.jsx-1769602645 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.wui.bottom-btns-bar {
    margin-top: 15px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

@media (max-width: 767px) {
    .wui.back-btn {
        width: 45px;
        height: 45px;
        margin-right: 10px;
        flex-grow: 1;
    }

    .wui.action-button {
        height: 45px;
        flex-grow: 1;
        margin-left: 55px;
    }
}

button {
    align-items: flex-start;
    text-align: center;
    display: inline-block;
}